<!-- HTML for the slide -->
<section data-transition="slide-in fade-out" class="layout-header-two-columns">
    <div class="header">Your Header</div>
    <div class="content">
        <ul class="column">
            <li>I want to see what happens if I have a lot of things to type in my
                slide?</li>
            <li>Bullet Point 2</li>
            <li>Bullet Point 3</li>
            <li>Bullet Point 4</li>
        </ul>
        <ul class="column">
            <li>Bullet Point 5</li>
            <li>Bullet Point 6</li>
            <li>Bullet Point 7</li>
            <li>Bullet Point 8</li>
        </ul>
    </div>
</section>
